/* startup.css */

html,
body {
    height: 100%;
    /*padding-top: 2rem;*/
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #6c6f73
}

h1,
h2,
h3,
h4,
h5 {
    color: #333;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}

#stage {
    background: url('img/stage.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

#stage-caption h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.cards {
    padding: 4rem 0;
}

.feature-content {
    padding: 8rem 0;
    overflow: hidden;
}

.feature-content img {
    margin-bottom: -8rem;
}

.feature-dark {
    background: #262F36;
    color: white;
}

.feature-dark h2 {
    color: white;
}

.feature-dark h3 {
    color: white;
}

.feature-alt {
    background: #f0f0f0;
}

#feature-feedback .feature-content {
    padding: 0;
}

#feature-five img {
    margin-top: 2rem;
}

#main-footer {
    background: #f0f0f0;
    color: black;
    padding: 2rem 0;
    font-size: 0.8rem;
}

#main-footer h6 {
    color: #718fa9;

}

#main-footer a {
    color: #6C6F73;
}

.card-deck {
    padding: 1rem 0 0 0;
}


#feature-training-two {
    padding-bottom: 5rem;
}

#feature-devices .feature-content img {
    padding-bottom: 5rem;
    padding-left: 2rem
}

.img-overlay {
    margin-top: -8rem;
    height: auto;
    width: 80%;
}



/* Media Queries */

@media screen and ( min-width: 991px) {

    .feature-content {
        display: flex;
        align-items: center;
    }
}

/* MOBILE */

@media screen and ( max-width: 991px) {

    #stage-caption {
        max-width: 95%;
    }

    #feature-training-one h6 {
        margin-top: 2rem;
    }

    #feature-training-one {
        margin-bottom: -4rem;
    }

    .container {
        max-width: 90%;
    }
    .feature-content {
        padding-top: 4rem;
    }
    .feature-content img {
        margin-top: 2rem;
    }
    /* amend this to affect buttons only. currently affects all a */
    .feature-content a {
        margin-top: 0.75rem;
        margin-right: 0.5rem;
    }

    .feature-dark h3 {
        margin-top: 2rem;
    }

    #feature-feedback img {
        margin-bottom: 1rem;
    }

    #feature-feedback a {
        margin-bottom: 1rem;
    }

    #feature-lonely iframe {
        margin-bottom: -5rem;
    }

    #feature-devices .feature-content img {
        padding-bottom: 2rem;
        padding-left: 0rem
    }

    .img-overlay {
        margin-left: 2rem;
    }

}
